* {
    margin: 0;
    padding: 0;;
}
html{
    scroll-behavior: smooth;
    background-image: url("https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");   
    font-family: Verdana;
    }
.logo img {
    object-fit: initial;
    }
.navbar{
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-image: url("https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: 100%;
    width: 100%;
    height: 100px;
}
.navlist{
    display: flex;
    align-items: center;
    size: 100%;
    }
.navlist li{
    display: inline;
    list-style: none;
    border-color: transparent;
    background-color: transparent;
    }
.navlist a{
    text-decoration: none;
    font-size: large;
    color: black;
    padding: 2px 20px;
    border-radius: 10px;
}
.navlist li a:hover {
    text-decoration: none;
    font-size: 1.5rem;
    transition: all ease 0.5s;
    background-color: white;
    cursor: pointer;
}
.three_dots{
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 20px;
}
.dots {
    width: 4px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}
#home{
    background: url("https://img.freepik.com/free-photo/black-frame-with-copy-space-top-view_23-2148643791.jpg?w=900&t=st=1690723150~exp=1690723750~hmac=06bc98a6fa244d5892fc60cdd7a8dffe2143ab1ed22f11a61709fca3913fb06cg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.know_more{
    border-style: solid;
    border-color: bisque;
    background-color: transparent;
    text-decoration: none;
    color: bisque;
    font-size: xx-large;
}
#about{
    background: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=996&t=st=1690786416~exp=1690787016~hmac=c92c246627f611ab3069dbde40f3955fc36c465829374fc9deee187ce835cebe");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
#skills{
    background: url("https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
#experience{
    background: url("https://plus.unsplash.com/premium_photo-1683309565422-77818a287060?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
#connect{
    background: url("https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flexbox;
    #name{
        width: 300px;
        height: 20px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }
    #email{
        width: 300px;
        height: 20px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }
    #number{
        width: 300px;
        height: 20px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }
    #message{
        width: 300px;
        height: 200px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }
    #submit{
        width: 100px;
        height: 40px;
        margin: 5px;
        padding: 10px;
        font-size: 20px;
    }
    #reset{
        width: 100px;
        height: 40px;
        margin: 5px;
        padding: 10px;
        font-size: 20px;
    }
}
#contact{
    background: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=412&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
#contact button{
    border-color: transparent;
    background-color: transparent;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 40px;
}
.footer{
    background-color: black;
    height: 50px;
    color: white;
    font-size: 25px;
}