* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: #000; */
    /* color: #000; */
}

.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    padding: 0% !important;
    /* background: url("https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"); */
    /* background-size: 100%; */
}

.navbar-nav {
    padding-left: 60% !important;
}

.p-3 {
    padding: 0 !important;
}

.nav-link {
    padding: 0rem !important;
    font-size: 1.5rem !important;
    color: #000 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.dropdown-item {
    font-size: 1.2rem !important;
}

#home {
    padding-top: 7.5%;
    padding-bottom: 15%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1651154846102-5d5e297cc514?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

#pfp {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    /* border: 0.15rem solid #fff; */
    box-shadow: 10px 10px 20px 0px #c8d0e7;
}

.fst {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pfp_fst {
    width: 25%;
    display: flex;
    justify-content: center;
}

.blog_fst {
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.op {
    font-size: 2.5rem !important;
    font-weight: 450;
    display: flex;
    justify-content: center;
}

.blog_fst p {
    font-size: 2rem;
    font-weight: 400;
}

.dtails {
    width: 85%;
    margin: 2.5% 7.5%;
    /* padding: 0% 5%; */
}

.dtails p {
    font-size: 1.5rem;
}

.knowmore {
    display: flex;
    justify-content: center;
    /* padding-bottom: 5%; */
}

.km {
    min-width: 30%;
    height: 3rem;
    color: #fff;
    /* padding: o.5rem 1rem; */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 2rem;
    border: none;
    /* background: #efefef; */
    background: transparent;
    box-shadow: 4px 4px 8px #c8d0e7, -2px -2px 6px #fff;
    color: #585858;
}

.km:active {
    box-shadow: inset 2px 2px 6px #c8d0e7, inset -2px -2px 6px #fff;
}
.km h2 {
    font-size: 1.5rem;
    font-weight: 350;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    margin: 0 1rem;
}
.emphasis{
    background: transparent;
    color: salmon;
    opacity: 0.75;
}
#about {
    padding-top: 5% !important;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1693146261069-0a6f70b6d3c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.heading{
    border-bottom: 1.75px solid #fff;
}
.heading h1 {
    font-size: 4rem;
    font-weight: 200;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    justify-content: center;
}
.edu{
    padding-top: 7%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.edupic{
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.edutails{
    width: 60%;
    justify-content: center;
}
.edutails h2{
    font-size: 2.5rem;
    font-weight: 400;
    justify-content: center;
    text-align: center;
}
.edutails p{
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: left;
    /* text-align: center; */
}
.edupic img{
    margin: auto;
    height: 18rem;
    width: 30rem;
    border-radius: 16px;
}
.instilogo{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 5%;
}
.instilogo img{
    height: 12.5rem;
    width: 12.5rem;
    margin: 1.5rem 0rem;
    border-radius: 12px;
}
.hby{
    padding-top: 6%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.hbypic{
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.hbytails{
    width: 60%;
    justify-content: center;
}
.hbytails h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    justify-content: center;
    text-align: center;
}
.hbytails p{
    margin: 0;
    /* margin-left: 1.5rem; */
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: left;
    text-align: center;
}
.hbytails p.hastalavista{
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}
.hbypic img{
    margin: auto;
    height: 18rem;
    width: 30rem;
    border-radius: 16px;
}
.hbylogo{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 5%;
}
.hbylogo img{
    height: 12.5rem;
    width: 12.5rem;
    margin: 1.5rem 0rem;
    border-radius: 12px;
}
#skills{
    padding-top: 5% !important;
    padding-bottom: 15%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.r1 , .r2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill_content{
    height: 13rem;
    width: 12rem;
    border-radius: 1rem;
    border-color: transparent;
    box-shadow: rgb(147, 169, 192) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin: 2%;
}
.skill_content:hover{
    box-shadow: rgb(204, 219, 232) 0px 20px 30px -10px;
}
.skill_content img{
    height: 8rem;
    width: 8rem;
    justify-content: center;
}
.csslg{
    height: 8rem !important;
    width: 6rem !important;
    justify-content: center;
}
.skill_content h2{
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#experience{
    padding-top: 5% !important;
    padding-bottom: 5%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1638184984605-af1f05249a56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.expr{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.expimg{
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.expcon{
    width: 60%;
}
.expr img{
    margin: auto;
    height: 18rem;
    width: 30rem;
    border: 6px solid #9b9b9b;
    border-radius: 16px;
}
.expr p{
    font-size: 4rem;
    font-weight: 400;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}
footer{
    background: #24262b;
}
.ft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 5%;
    padding-top: 2.5%;
}
.ft h1{
    font-size: 3rem;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 2.5rem;
	font-weight: 400;
	position: relative;
}
.ft h1::before{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 0.1rem;
	box-sizing: border-box;
	width: 30%;
}
.contact{
    width: 25%;
}
.form-group{
    margin: 1rem !important;
}
label{
    /* font-size: 1rem; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.form-control{
    height: 1.8rem;
    width: 100%; 
    background-color: transparent !important;  
    color: #ffffff !important;
    border: none !important;
    border-bottom: 0.1rem solid #9b9b9b !important;
}
.form-group-btn{
    width: 100%;
    margin: 0 19%;
}
.form-btn{
    height: 2.5rem ;
    width: 30%;
    border-radius: 6rem;
    box-shadow: 5px 5px 15px -3px #c8d0e7;
    background: transparent;
    /* border: none; */
    color: #ffffff;
    margin: 0 0.5%;
}
.links{
    width: 20%;
    margin: 0 2.5% 0 2.5%;
}
.navig{
    width: 20%;
    margin: 0 2.5% 0 0;
}
.ft ul li:not(:last-child){
	margin-bottom: 10px;
}
.ft ul li a{
	font-size: 1.5rem;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.ft ul li a:hover{
	color: #ffffff;
    padding-left: 8px;
}
.follow{
    width: 25%;
    margin: 0 1.25%;
}
.socialinks{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15%;
}
.emailinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.emailinfo h2{
    font-size: 1.2rem;
    color: #bbbbbb;
    text-align: center;
    margin-left: 5%;
}
.cr{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2.5%;
}
.cr h3{
    color: #fff;
    font-size: 1.5rem;
}
@media only screen and (max-width:1400px) {
    *{
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }
    .heading h1{
        font-size: 2.5rem !important;
    }
    #home{
        width: 100%;
        padding-top: 30%;
    }
    #pfp{
        height: 12rem;
        width: 12rem;
        box-shadow: 10px 10px 20px 0px #c8d0e7;
        margin: 7%;
    }
    .pfp_fst {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .blog_fst {
        width: 85%;
        margin: 2.5% 7.5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog_fst p.op{
        display: flex;
        font-size: 2.2rem !important;
    }
    .blog_fst p{
        font-size: 1.5rem !important;
    }
    .dtails p{
        font-size: 1.5rem !important;
    }
    .knowmore button.km{
        margin: 1rem;
    }
    .km{
        box-shadow: 4px 4px 8px #c8d0e7, -2px -2px 6px #fff;
    }
    #about{
        width: 100%;
        padding-top: 25% !important;
    }
    .edu{
        flex-direction: column;
    }
    .edupic{
        width: 100%;
    }
    .edutails{
        width: 100%;
        padding: 0% 2.5%;
    }
    .edutails p , .hbytails p{
        font-size: 1.25rem !important;
    }
    .edupic img{
        height: 12rem !important;
        width: 20rem !important;
    }
    .hby{
        flex-direction: column;
    }
    .hbypic{
        width: 100%;
    }
    .hbytails{
        width: 100%;
        padding: 0% 2.5%;
    }
    .hby img{
        height: 12rem !important;
        width: 20rem !important;
    }
    .hbylogo img , .instilogo img{
        height: 10rem !important;
        width: 10rem !important;
    }
    #skills{
        width: 100%;
        padding-top: 25% !important;
        padding-bottom: 30% !important;
    }
    .r1{
        margin-top: 30%;
    }
    .skill_content{
        height: 6.5rem;
        width: 6rem;
        border-radius: 0.5rem;
        border-color: transparent;
        box-shadow: rgb(147, 169, 192) 1.5px 1.5px 3px 0px inset, rgba(255, 255, 255, 0.5) -1.5px -1.5px 3px 0.5px inset;
        margin: 4.45%;
    }
    .skill_content:hover{
        box-shadow: rgb(204, 219, 232) 0px 10px 15px -5px;
    }
    .skill_content img{
        height: 4rem;
        width: 4rem;
        justify-content: center;
    }
    .csslg{
        height: 4rem !important;
        width: 3rem !important;
        justify-content: center;
    }
    .skill_content h2{
        text-align: center;
        font-size: 0.75rem;
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #experience{
        width: 100%;
        padding-top: 25% !important;
        padding-bottom: 30%;
    }
    .expimg{
        width: 100%;
    }
    .expcon{
        width: 100%;
    }
    .expr img{
        height: 12rem;
        width: 20rem;
        margin-top: 20% !important;
        margin: 5%;
    }
    .expr p{
        font-size: 2rem !important;
    }
    .ft h1{
        font-size: 2.4rem;
        overflow: hidden;
    }
    .ft h1::before{
        /* content: none; */
        /* position: absolute; */
        /* left:0; */
        bottom: 0;
        background-color: #e91e63;
        height: 0.1rem;
        /* box-sizing: border-box; */
        width: 30%;
    }
    .ft ul li a{
        font-size: 1rem;
    }
    .contact{
        width: 100%;
        margin-bottom: 5%;
    }
    .form-group-btn{
        width: auto;
    }
    .form-btn{
        height: 2rem;
        width: 40%;
        /* margin-left: 5%; */
        /* border: none; */
        font-size: 1.1rem !important;
        margin: 10% 2.5% 10% 2.5%;
    }
    .links{
        width: 40%;
        margin-right: 5%;
    }
    .navig{
        width: 40%;
        margin-left: 5%;
    }
    .follow{
        width: 100%;
        margin-top: 5%;
    }
    .follow i{
        line-height: 2rem;
    }
    .follow h2{
        margin: 2.5% 0;
        font-size: 1rem;
    }
    .cr{
        padding-top: 10%;
    }
    .cr h3{
        font-size: 0.75rem;
    }
}
