* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;

    font-family: Bad Script;
}

body {
    background-color: black;
}

#certificate_quiz {
    display: flex;
    flex-direction: column;
}

.quiz {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 2
}

.quiz_certificate {
    /* position: absolute; */

}

#f1,
#f2,
#f3,
#f4,
#f5 {
    display: flex;
    flex-direction: column;

    margin: 5px 5px 9px 15px;
    height: 205px;
    width: 290px;
}

.heading {
    position: absolute;
    z-index: 6;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight: 100;
    margin: 88.75px;
}

#sc1,
#sc2,
#sc3,
#sc4,
#sc5 {
    display: none;
}

#certificate_display {
    margin-left: 22%;
    width: 78%;
    height: 100%;
}

.gov_certificate {
    margin: 50px 50px 50px 180px;
}

#c_1 {
    position: absolute;
    z-index: 5;
    height: 403px;
    width: 570px;
}

#c_2 {
    position: absolute;
    z-index: 4;
    height: 403px;
    width: 570px;
}

#c_3 {
    position: absolute;
    z-index: 3;
    height: 403px;
    width: 570px;
}

#c_4 {
    position: absolute;
    z-index: 2;
    height: 403px;
    width: 570px;
}

#c_5 {
    position: absolute;
    z-index: 1;
    height: 403px;
    width: 570px;
}