* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-image: url("https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    font-family: Bad Script;
}

.logo img {
    object-fit: initial;
}

/* .logo img:hover{
    transform: scale(2);
    border-radius: 50%;
    margin: 50% 50%;
} */
.navbar {
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-image: url("https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: 100%;
    width: 100%;
    height: 75px;
}

.navlist {
    display: flex;
    align-items: center;
    size: 100%;
    font-weight: bold;
}
.options{
    display: flex;
    flex-direction: row;
    /* margin-left: 40%; */
}
.navlist li {
    list-style: none;
    border-color: transparent;
    background-color: transparent;
}

.navlist a {
    text-decoration: none;
    font-size: large;
    color: black;
    padding: 2px 20px;
    border-radius: 10px;
}

.navlist li a:hover {
    text-decoration: none;
    font-size: 1.5rem;
    transition: all ease 0.5s;
    background-color: white;
    cursor: pointer;
}

.three_dots {
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 20px;
}

.dots {
    width: 4px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}

#home {
    background: url("https://img.freepik.com/free-photo/black-frame-with-copy-space-top-view_23-2148643791.jpg?w=900&t=st=1690723150~exp=1690723750~hmac=06bc98a6fa244d5892fc60cdd7a8dffe2143ab1ed22f11a61709fca3913fb06cg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2.5%;
}

#main_heading {
    font-size: 70px;
    /* background: url("https://images.unsplash.com/photo-1691481593965-4a75f1500ac6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExfDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
}

/* .box_home{
    display: flex;
} */
#pfp {
    height: 250px;
    width: 250px;
    border-radius: 125px;
}


#pfp:hover {
    transform: translateX(220%) translateY(50%) scale(2);
    border-radius: 50%;
    transition: 2s;
}
.fst{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pfp_fst{
    margin-top: 10px;
    margin-left: 50px;
}
.blog_fst{
    margin: 40px 80px;
}
.op{
    margin-left: 200px;
}
.dtails{
    margin: 0px 100px;
    font-size: larger;
}
.know_more {
    border-style: solid;
    border-color: bisque;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    color: bisque;
    font-size: xx-large;
}

#about {
    background: url("https://images.unsplash.com/photo-1690835375429-96c1b4e56317?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}
.edu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.edutails{
    margin: 20px 10px;
}
.edupic{
    margin-right: 30px;
}
.instilogo{
    display: flexbox;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3% 20%;
}
.ilg{
    margin: 0% 5%;
}
.hby{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 40px;
}
.hbytails{
    margin: 10px 10px;
}
.hbypic{
    margin-left: 30px;
}
.hlv{
    font-size: 30px;
}
.hbylogo{
    display: flexbox;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3% 7%;
}
.hlg{
    margin: 0% 4%;
}
#skills {
    background: url("https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flexbox;
    color: white;
    padding: 5% 0%;
}

#skills button {
    height: 150px;
    width: 150px;
    border-color: transparent;
    background-color: transparent;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 40px;
}

.skill_content {
    font-size: large;
    text-align: center;
    color: white;
}

#experience {
    background: url("https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1227&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#connect {
    background: url("https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flexbox;

    #name {
        width: 300px;
        height: 20px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }

    #email {
        width: 300px;
        height: 20px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }

    #number {
        width: 300px;
        height: 20px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }

    #message {
        width: 300px;
        height: 200px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }

    #submit {
        width: 100px;
        height: 40px;
        margin: 5px;
        padding: 10px;
        font-size: 20px;
    }

    #reset {
        width: 100px;
        height: 40px;
        margin: 5px;
        padding: 10px;
        font-size: 20px;
    }
}

#contact {
    background: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=412&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

#contact button {
    border-color: transparent;
    background-color: transparent;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 40px;
}

#contact_page {
    /* margin-left: 15%; */
}

.footer {
    background-color: black;
    height: 50px;
    color: white;
    font-size: 25px;
}